$font-family: 'Noto Sans TC', sans-serif;
$font-size-title:18px;
$font-size-root:15px;

$font-color-root:#1C1C1C;
$font-color-primary:#ff6600;

$font-style-title:normal;

$font-weight-title: 700;

$font-line-title: 26px;
$font-line-sub-title:15px;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap");

.v-application {
  [class*='text-'] {
    font-family: $font-family, sans-serif !important;
    font-style: $font-style-title;
    color: $font-color-root
  }
  font-family: $font-family, sans-serif !important;
  color:$font-color-root;
  font-size:$font-size-root;
}