@import "./utility/reset.scss";
@import "./utility/variables.scss";

.v-application {
  [class*='text-'] {
    font-family: $font-family, sans-serif !important;
    font-style: $font-style-title;
    color: $font-color-root
  }
  .tweets-name ,.tweets-content{
    font-size: $font-size-root;
    line-height: $font-line-root;
    color: $font-color-root;
  }
  .tweets-name {
    font-weight: $font-weight-title;

  }
  .tweets-account{
    font-weight: $font-weight-sub-title;
    font-size: $font-line-sub-title;
    line-height: $font-line-root;
    color: $font-color-account;
  }
  .tweets-content{
    font-weight: $font-weight-content;
  }
  
  font-family: $font-family, sans-serif !important;
  color:$font-color-root;
  font-size:$font-size-root;
}