$font-family: 'Noto Sans TC', sans-serif;

$font-size-large:23px;
$font-size-medium:19px;
$font-size-title:18px;
$font-size-root:15px;
$font-size-intro:14px;
$font-size-small:13px;


$font-color-root:#1C1C1C;
$font-color-primary:#1da1f2;
$font-color-outline:#CCD6DD;
$font-color-account:#657786;
$font-color-black: #000000;
$font-color-link: #0099FF;


$font-style-title:normal;

$font-weight-medium: 900;
$font-weight-title: 700;
$font-weight-sub-title:500;
$font-weight-content:400;

$font-line-large: 34px;
$font-line-ml:33px;
$font-line-medium:28px;
$font-line-title: 26px;
$font-line-sub-title:15px;
$font-line-root:22px;
$font-line-intro:20px;
$font-line-header:19px;
$font-line-small:13px;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap");
