

  .users-following-count, .users-following-text, .users-follower-count, .users-follower-text {
    font-weight: $font-weight-sub-title;
    font-size: $font-size-intro;
    line-height: $font-line-intro;
  }
  .users-following-text {
    margin-right: 0.5rem;
  }

