@import "./../main.scss";
.admin-tweets-card {
  max-width: 1062px;
  padding: 0 0  0 15px;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  .tweets-content {
    font-weight: $font-weight-sub-title;
    font-size: $font-size-root;
    line-height: $font-line-root;
    color: $font-color-root;
  }
}
