%top-card-style {
  font-weight: $font-weight-title;
  font-size: $font-size-root;
  line-height: $font-line-sub-title;
}
.top-user-name {
  @extend %top-card-style;
  color:$font-color-root;
}
.top-user-account {
  @extend %top-card-style;
  color:$font-color-account;
}
//tweetsCard//tweetCard//replyCard//replyModal
.tweets-user-name {
  font-weight: $font-weight-title;
  font-size: $font-size-root;
  line-height:$font-line-root;
  color:$font-color-root
}
.tweets-user-account {
  font-weight: $font-weight-sub-title;
  font-size: $font-size-root;
  line-height:$font-line-root;
  color:$font-color-account;
}

//name----------------


//profile
// font-weight: 900;
// font-size: 19px;
// line-height: 28px;
// color: #1C1C1C;

//followcard
//font-weight: bold;
// font-size: 15px;
// line-height: 15px;
// color: #1C1C1C;




//account------------------


//followCard
// font-weight: 500;
// font-size: 15px;
// line-height: 15px;
// color: #657786;




// header---------------------
//帳戶設定title
//font-weight: bold;700
//font-size: 19px;
//line-height: 28px;
//color: #1C1C1C;


//首頁title //推文清單title //使用者列表//推文title
.header-title {
  font-weight: $font-weight-title;
  font-size: $font-size-title;
  line-height: $font-line-title;
  color: $font-color-root;
}


//推文btn
//background: #000000;

//user title
// font-weight: 900;
// font-size: 19px;
// line-height: 28px;
// color: #1C1C1C;

//user tweet
// font-weight: 500;
// font-size: 13px;
// line-height: 19px;
// color: #657786;

//description --------------------
%descriptions-style {
  font-size: $font-size-root;
  line-height: $font-line-root;
  color: $font-color-root;
}

//tweets card//follow-card
.tweets-description {
  font-weight:$font-weight-sub-title;
  @extend %descriptions-style;
}

//reply card//reply modal
.reply-description {
  font-weight:$font-weight-content;
  @extend %descriptions-style;
}

//tweet card
.tweet-description {
  font-weight:$font-weight-sub-title;
  font-size:$font-size-large; 
  color: $font-color-root;
  line-height: $font-line-large;
}



//profile-intro
// font-weight: 400;
// font-size: 14px;
// line-height: 20px;
// color: #000000;



//count--------------------

//tweets card
.tweets-count {
  font-size: $font-size-small;
  line-height: $font-line-small;
  color: $font-color-account;
  font-weight: $font-weight-sub-title;
}


//tweet card
//number
%tweet-card-count-style {
  font-weight: $font-weight-title;
  font-size: $font-size-medium;
  line-height: $font-line-medium;
}
.tweet-count {
  @extend %tweet-card-count-style;
  color: $font-color-black;
}
.tweet-count-text {
  @extend %tweet-card-count-style;
  color: $font-color-account;
}


//profile
//number
// font-weight: 500;
// font-size: 14px;
// line-height: 20px;
// color: #000000;
//text
// font-weight: 500;
// font-size: 14px;
// line-height: 20px;
// color: #657786;

.reply-target {
  font-weight: $font-weight-sub-title;
  font-size: $font-size-root;
  line-height: $font-line-root;
  color: $font-color-primary;
}

%reply-modal-text-style {
  font-weight: $font-weight-sub-title;
  font-size:$font-size-small;
  line-height:$font-line-small;
}
.reply-modal-text {
  @extend %reply-modal-text-style;
  color:$font-color-account;
  margin-right: 1rem;
}
.reply-modal-target {
  @extend %reply-modal-text-style;
  color:$font-color-primary;
}
