@import "./../main.scss";
.followship-name, .followship-account {
  font-size: $font-size-root;
  line-height: $font-line-sub-title;
}
.followship-name {
  font-weight: $font-weight-title;
  color: $font-color-root;
}
.followship-account {
  font-weight: $font-weight-sub-title;
  color: $font-color-account;
}
.followship-intro {
  font-weight: $font-weight-sub-title;
  font-size: $font-size-root;
  line-height: $font-line-root;
  color: $font-color-root;
}