@import "./../main.scss";
  #recommend-list-bottom-title {
    margin-left: 8px;
    color: $font-color-primary;
    cursor: pointer;
  }
  
  .recommend-list {
    margin: 1rem auto; 
    .recommend-list-top-title {
      margin-left: 8px;
    }
    .user-info-avatar{
      margin-left: 8px;
    }
  }