@import "./../main.scss";

.nav-list {
  margin: 0 auto;
  justify-content:space-between;
  .nav-title {
    font-weight: $font-weight-title;
    font-size: $font-size-title;
    line-height:$font-line-title;
  }
  .nav-icon {
    color: $font-color-primary;
  .option-icon  {
    color: $font-color-root;
    }
  }
  .nav-button {
    margin: 0 auto;
    width: 150px;
    height: 45px;
  }
}
