@import "./../main.scss";
.reply-list,
.reply-card {
  max-width: 600px;
  margin: 0 auto;
}
.reply-list {
  padding: 0;
  .reply-card {
    padding: 15px 15px 0 15px;
    .reply-target {
      font-weight: $font-weight-sub-title;
      font-size: $font-size-root;
      line-height: $font-line-root;
      color: $font-color-primary;
    }
    .reply-content{
      font-weight: $font-weight-content;
      font-size: $font-size-root;
      line-height: $font-line-root;
      color: $font-color-root;
    }
  }
}