@import "./../main.scss";
.v-sheet {
  margin: 3rem auto 0;
  .sign-logo {
    justify-content: center;
  }
  .sign-title {
    justify-content: center;
    font-weight: bold;
    font-size: $font-size-large;
    line-height: $font-line-ml;
    color: $font-color-root;
  }
  .sign-link {
    font-weight: $font-weight-title;
    font-size: $font-size-title;
    line-height: $font-line-title;
    color: $font-color-link;
  }
}