@import "./../main.scss";
.profile-card {
  position: relative;
  .profile-avatar {
      position: absolute;
      border: 4px solid #ffffff;
      box-sizing: border-box;
      top: 129px;
      left: 15px;
    .profile-avatar-image,.profile-cover-image {
        object-fit: cover;
      }
  }
  .profile-name{
    margin-top: 2rem;
    font-weight: $font-weight-medium;
    font-size: $font-size-medium;
    line-height: $font-line-medium;
    color: $font-color-root;
  }
  .profile-intro {
    padding:0 0.2rem;
    font-weight:$font-weight-content;
    font-size: $font-size-intro;
    line-height:$font-line-intro;
    color: $font-color-black;
  }
  .profile-followship{
    padding:1rem 0.2rem;
    cursor:pointer;
    .profile-following-count,.profile-following-text,.profile-follower-count,.profile-follower-text{
      font-weight: $font-weight-sub-title;
      font-size: $font-size-intro;
      line-height: $font-line-intro;
    }
    .profile-following-count,.profile-follower-count {
      color: $font-color-black;
    }
  }
  // "https://assets.dryicons.com/uploads/icon/svg/12631/d3fab4d2-3a88-4439-9a83-3bea496ed86b.svg"
}