
    .profile-following-count,.profile-following-text,.profile-follower-count,.profile-follower-text{
      font-weight: $font-weight-sub-title;
      font-size: $font-size-intro;
      line-height: $font-line-intro;
    }
    .profile-following-count,.profile-follower-count {
      color: $font-color-black;
    }