@import "./../main.scss";
.profile-card {
   position: relative;
   .profile-card-title {
      font-weight: $font-weight-title;
      font-size: $font-size-medium;
      line-height: $font-line-medium;
      color: $font-color-root;
   }
   .edit-images {
      padding: 0 0 8px 0;
      position: relative;
      .profile-cover-image {
         position: relative;
         opacity: 75%;
         z-index: 1;
      }
      .button-cover {
         position: absolute;
         right: calc(50% - 50px);
         top: calc(50% - 35px);
         z-index: 2;
         .input-cover {
            margin: 0;
            padding: 0;
         }
      }

      .profile-avatar {
         position: absolute;
         right: calc(50% - 50px);
         left: 20px;
         .profile-avatar-image {
            opacity: 85%;
            z-index: 2;
         }
         .button-avatar {
            position: absolute;
            right: calc(50% - 50px);
            bottom: calc(50% - 35px);
            z-index: 3;
            .input-avatar {
               margin: 0;
               padding: 0;
            }
         }
      }
   }
}  