.admin-main-section {
  height: 100%;
  margin-top: 0;

  @include pc-width {
    width: 70%;
    border-left: 1px solid #E5E5E5;
  }
  @include pcs-width {
    width: 70%;
    margin-left: 150px;
    border-left: 1px solid #E5E5E5;
  }
  @include pad-width {
    width: 70%;
    border-left: 1px solid #E5E5E5;
  }
  @include small-pad-width {
    width: 85%;
    border-left: 1px solid #E5E5E5;
  }
  @include phone-width {
    justify-content: center;
    width: 85%;
    margin-left: 70px;
    border-left: 1px solid #E5E5E5;
  }
}
.admin-main-container {
  margin: 0 auto;
  @include pc-width {
    justify-content: flex-end;
  }
  @include pcs-width {
    justify-content: flex-end;
  }

  @include pad-width {
    justify-content: flex-end;
  }
  @include small-pad-width {
    justify-content: flex-end;
  }
  @include phone-width {
    justify-content: flex-end;
  }
  
}