.v-container {
  display: flex;
  // position: absolute;
  flex-flow: row nowrap;
  justify-content: center;
}
.left-section {
  position: fixed;
  left: 21%;
  order: 0;
  flex-grow: 0;
  flex-shrink: 0.5;
  flex-basis: 25%;
  /* 235px */
}
.middle-section {
  order: 1;
  height: 100%;
  overflow-y: hidden;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 50% ;
  margin: 0 auto;
  max-width: 600px;
  border-left: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
  /* 600px */
}
  
.right-section {
  position: fixed;
  right: 14%;
  order: 2;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 25%;
  /* 350px */
}